*{
    margin:0;
    padding:0;
    font-family: 'Poppins' , sans-serif;
    box-sizing : border-box;
}

body{
    background:#222;
}

.card{
    width:90%;
    max-width:470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color:#fff;
    margin:100px auto 0;
    border-radius : 20px;
    padding : 40px 35px;
    text-align : center;
}

.search input{
    border: 0;
    outline : 0;
    background: #ebfffc;
    color: #555;
    padding : 10px 25px;
    height : 60px;
    border-radius : 30px;
    flex : 1;
    margin-right : 16px;
    font-size : 18px;
}

.search button{
    border:0;
    outline : 0;
    background : #ebfffc;
    border-radius: 50%;
    width : 60px;
    height : 60px;
    cursor: pointer;
}

.search button img{
  
width : 16px;
}

.weather h1{
    font-size: 80px;
    font-weight:500;
    
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top:-10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top:50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width : 40px;
    margin-right: 10px;
}

.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align : left;
    margin-left:10px;
    font-size:14px;
    margin-top:10px ;
}

@media(max-width:426px){

    .search button img{
        align-items: center;
        margin-left: 12px;
    }
    .search button {
        display: flex;
        width : 40px;
        height: 40px;
        align-items: center;
        margin-left:295px ;
        margin-top:-40px;
    }
    .search input{
        border: 0;
        outline : 0;
        background: #ebfffc;
        color: #555;
        padding : 10px 25px;
        height : 40px;
        border-radius : 30px;
        flex : 1;
        margin-right : 8px;
        font-size : 18px;
    }
    .error p{
        margin-left:28px
    }
}

@media(max-width:425px){

    .search button img{
        align-items: center;
        margin-left: 7px;
    }
    .search button {
        display: flex;
        width : 30px;
        height: 30px;
        align-items: center;
        margin-left:265px ;
        margin-top:-33px;
    }
    .search input{
        border: 0;
        outline : 0;
        background: #ebfffc;
        color: #555;
        padding : 10px 25px;
        height : 35px;
        border-radius : 30px;
        flex : 1;
        margin-right : 8px;
        font-size : 18px;
        margin-left:-10px;

    }
    .error p{
        margin-left:-2px
    }
}

@media(max-width:325px){

    .search button img{
        align-items: center;
        margin-left: 5px;
    }
    .search button {
        display: flex;
        width : 27px;
        height: 27px;
        align-items: center;
        margin-left:210px ;
        margin-top:-27px;
    }
    .search input{
        border: 0;
        outline : 0;
        background: #ebfffc;
        color: #555;
        padding : 10px 25px;
        height : 25px;
        border-radius : 30px;
        flex : 1;
        margin-right : 8px;
        font-size : 18px;
        margin-left:-27px;
        width:230px;

    }
    .error p{
        margin-left:-10px
    }
    .wind{
        font-size: 18px;
        margin-left:-50px;
    }
    .windspeed{
        margin-left:-50px;
        margin-top: 40px;
    }

    .humidity{
        margin-left:-30px;
    }
    .humidityalign{
        margin-left:-30px;
        margin-top:40px;
    }
    .windimg{
        margin-left:-18px;
    }
    .humidimg{
        margin-left:50px;
    }
}
